html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background: var(--pale-peach);
  padding: 40px 20px;
}
body:before {
  content: "mobile";
  position: fixed;
  top: -20em;
  left: 0;
  opacity: 0;
}
img,
svg {
  max-width: 100%;
  height: auto;
}
@media (--tablet) {
  body {
    padding: 60px 40px;
  }
  body:before {
    content: "tablet";
  }
}
@media (--desktop) {
  body:before {
    content: "desktop";
  }
}
