:root {
  /* Colours */
  --pale-peach: #fff8ed;
  --peach: #ffeac9;
  --mid-peach: #ffe2b3;
  --dark-slate: #30515a;
  --pale-slate: #74858a;
  --border-slate: #969c9e;
  --pink: #ae546e;
  --semi-o-pink: rgba(174, 84, 109, 0.5);
  --orange: #fbaf5d;
  --turquoise: #43b5a2;
  --success-colour: var(--turquoise);

  /* Fonts */
  --def-font-stack: "mr-eaves-xl-modern", sans-serif;
  --def-font-stack-weight: 300;
  --def-font-stack-bold-weight: 700;
  --display-font-stack: "orpheuspro", serif;
  --display-font-stack-weight: 400;
  --display-2-font-stack: "mr-eaves-modern", sans-serif;
  --display-2-font-stack-body-weight: 300;
  --display-2-font-stack-title-weight: 400;
  --font-size-small: 0.7em;

  /* Dimensions */
  --max-site-width: 1200px;
  --pad-side-mobile: 40px;
  --button-height: 42px;
  --button-font-size: 16px;
  --content-width: 600px;
  --mid-spacing: 30px;
  --large-spacing: 60px;
  --small-round-corner: 3px;
}
