@media (--mobile-only) {
  .articleContent {
    margin-bottom: var(--mid-spacing);
  }
}
@media (--tablet) {
  .article {
    display: flex;
    font-size: 28px;
    font-family: var(--display-2-font-stack);
    font-weight: var(--display-2-font-stack-body-weight);
  }
  .articleContent {
    width: 55%;
    margin-top: 5vw;

    & blockquote {
      margin-left: 15%;
    }
    & > p {
      margin-right: 20%;
    }
  }
  .articleImageWrap {
    width: 33.33333%;
    margin-left: auto;
  }
}
