@media (--tablet) {
  .article {
    display: flex;
    font-size: 28px;
    font-family: var(--display-2-font-stack);
    font-weight: 300;
  }
  .articleContent {
    width: 55%;

    & blockquote {
      margin-left: 15%;
    }
    & > p {
      margin-right: 20%;
    }
  }
  .articleImageWrap {
    width: 33.33333%;
    margin-left: auto;
  }
}
