.thumbWrap {
  width: 120px;
  margin-right: 20px;
  flex-shrink: 0;

  & img {
    display: block;
  }
}
.itemInfo {
  font-size: 20px;
  line-height: 1.2;

  & h3 {
    margin-bottom: 5px;
    color: var(--dark-slate);
  }
}
.itemQuantitySelector {
  margin: 10px 0;
}
.removeItemButton {
  text-transform: uppercase;
  font-size: var(--font-size-small);
}