@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.checkoutWrap {
  display: flex;
}
.checkoutStep {
  background: var(--peach);
  margin-top: 10px;
  padding: 30px 20px;
  border: 1px solid var(--peach);

  &:first-child {
    margin-top: 0;
  }
}
.checkoutStepIsOpen {
  border: 1px solid var(--orange);
}
.checkoutStepIsClickable {
  cursor: pointer;
}
.checkoutStepTitle {
  display: flex;
  align-items: center;

  & h3 {
    margin-bottom: 0;
    color: var(--dark-slate);
  }
}
.checkoutStepTick {
  margin-left: auto;
  width: 30px;

  &[aria-hidden="true"] {
    display: none;
  }
}
.checkoutStepContent {
  margin-top: 20px;
}
.checkoutStepFooter {
  margin-top: var(--mid-spacing);
  display: flex;
}
.checkoutStepButton {
  composes: button from "../modules/forms.module.css";
  padding: 0.4em 1em;
  margin-right: 10px;
  background: var(--mid-peach);
  border: 1px solid var(--orange);
  color: var(--dark-slate);

  &:focus {
    border-color: var(--pink);
  }
}
.checkoutAddress {
  margin-top: 30px;

  &:first-child {
    margin-top: 0;
  }
  & h4 {
    margin-bottom: 10px;
    color: var(--pink);
  }
}
.checkoutAddressToggle {
  margin: 30px 0;
}
.shippingOptionMessage {
  line-height: 1.2;
  margin-top: 20px;
  font-size: var(--font-size-small);
  color: var(--pink);
}
.cSummaryDiscount {
  margin-bottom: 20px;
}
.loadingSvg {
  animation: spin 1s linear infinite;
  color: slate;

  & circle {
    opacity: o.25;
  }
  & path {
    opacity: 0.75;
  }
}
@media (--mobile-only) {
  .checkoutWrap {
    flex-direction: column;

    & > div {
      &:first-child {
        order: 1;
        margin-top: var(--mid-spacing);
      }
    }
  }
}
@media (--tablet) {
  .checkoutWrap {
    & > div {
      &:first-child {
        width: 60%;
      }
      &:last-child {
        width: 35%;
        margin-left: auto;
      }
    }
  }
}
