@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.button {
  border: 0;
  font-family: var(--def-font-stack);
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background: var(--pink);
  padding: 0.8em 1.5em;
  font-size: var(--button-font-size);
  cursor: pointer;
  text-align: center;
  outline: none;
  transition: background 0.3s;
  letter-spacing: 0.1em;

  &[disabled] {
    background: var(--pale-slate);
    opacity: 0.5;
    cursor: not-allowed;
  }
}
label {
  font-size: 0.8em;
}
input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="search"],
select {
  appearance: none;
  background: transparent;
  font-family: var(--def-font-stack);
  font-size: 0.9em;
  padding: 0 0 8px;
  color: var(--dark-slate);
  border-width: 0 0 2px 0;
  border-color: var(--semi-o-pink);
  border-style: solid;
  width: 100%;
  outline: none;
  border-radius: 0;

  &:focus {
    border-color: var(--pink);
  }
}
input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="search"] {
  &::placeholder {
    color: var(--dark-slate);
    opacity: 0.7;
  }
}
select {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 8'%3E%3Cpolyline fill='none' stroke='%23ae546e' stroke-width='0.7' points='0 0 4 4 8 0' transform='translate(1 1)'/%3E%3C/svg%3E");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 20px;
  padding-right: 2.5rem;
  cursor: pointer;
}
.inputWrap,
.selectWrap,
.splitFieldset {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}
.inputWrap {
  &.inputSolidBg {
    & input {
      border: 0;
      background: var(--peach);
      padding: 5px;
    }
  }
}
.checkboxWrap {
  & label {
    display: block;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    line-height: 1;
  }
  & input[type="checkbox"] {
    margin-right: 10px;
  }
  & .checkboxUi {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 0;
    background: var(--peach);
    box-shadow: inset 0px 0px 5px var(--mid-peach);
    overflow: hidden;
    transform: translateY(-50%);

    &:before {
      content: " ";
      position: absolute;
      width: 12px;
      height: 6px;
      top: 50%;
      left: 50%;
      margin-top: -1px;
      border-bottom: 2px solid var(--dark-slate);
      border-left: 2px solid var(--dark-slate);
      transform: translateX(-50%) translateY(-50%) rotate(-45deg);
      transform-origin: center;
      opacity: 0;
    }
    &.checkboxUiDark {
      background: var(--mid-peach);
      border: 1px solid var(--pale-slate);
      box-shadow: none;
    }
  }
  & input[type="checkbox"] {
    opacity: 0 !important;
    position: absolute;
    top: 0;
    left: 0;

    &:checked {
      & ~ .checkboxUi {
        &:before {
          opacity: 0.8;
        }
      }
    }
  }
}
.radioWrap {
  & label {
    display: block;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    line-height: 1;
  }
  & input[type="radio"] {
    margin-right: 10px;
  }
  & .radioUi {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 50%;
    left: 0;
    background: var(--peach);
    box-shadow: inset 0px 0px 5px var(--mid-peach);
    overflow: hidden;
    transform: translateY(-50%);

    &:before {
      content: " ";
      position: absolute;
      width: 50%;
      height: 50%;
      top: 25%;
      left: 25%;
      border-radius: 50%;
      background: var(--pale-slate);
      opacity: 0;
    }
    &.radioUiDark {
      background: var(--mid-peach);
      border: 1px solid var(--pale-slate);
      box-shadow: none;
    }
  }
  & input[type="radio"] {
    opacity: 0 !important;
    position: absolute;
    top: 0;
    left: 0;

    &:checked {
      & ~ .radioUi {
        &:before {
          opacity: 1;
        }
      }
    }
    &:focus {
      & ~ .radioUi {
        border-color: var(--pink);
      }
    }
  }
}
.inputError {
  & input,
  & select {
    border-color: var(--pink);
  }
}
.submitButton {
  composes: button;
  margin-top: var(--mid-spacing);
}
.errorMessage {
  font-size: 18px;
  color: var(--pink);
}
.successMessage {
  font-size: 0.9em;
  color: var(--success-colour);
  margin-bottom: 10px;
}
.stripeCardElementWrap {
  padding-bottom: 5px;
  border-bottom: 2px solid var(--semi-o-pink);
}
.stripeCardFormSubmit {
  composes: button;
  margin-top: var(--mid-spacing);
  height: 53px;
  width: 80px;

  & svg {
    width: 24px;
    height: 24px;
    display: block;
    animation: spin 1s linear infinite;
    color: var(--pale-peach);
    margin: 0 auto;

    & circle {
      opacity: 0.25;
    }
    & path {
      opacity: 0.75;
    }
  }
}
@media (--tablet) {
  .generalForm {
    max-width: var(--content-width);
  }
  .button {
    &:hover:not([disabled]) {
      background: var(--orange);
    }
  }
  .splitFieldset {
    display: flex;
    margin-left: -10px;
    margin-right: -10px;

    & .inputWrap {
      margin-bottom: 0;
    }
    & > * {
      padding: 0 10px;
      width: 50%;
    }
  }
}
