.header {
  max-width: var(--max-site-width);
  margin: 0 auto var(--large-spacing);
  line-height: 1;
  display: flex;

  & a {
    text-decoration-line: none;
  }
}
.mainNav,
.navHomeLink {
  font-family: var(--display-font-stack);
  font-weight: var(--display-font-stack-weight);
}
.navHomeLink {
  color: var(--pink);
  font-size: 40px;
}
@media (--mobile-small-only) {
  .navHomeLink {
    font-size: 30px;
  }
}
@media (--mobile-only) {
  .navWrap {
    position: fixed;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--pale-peach);
    z-index: 10;
    opacity: 0;
    transition: opacity 0.3s, transform 0s 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navIsOpen {
    opacity: 1;
    transform: translateY(100%);
    transition: opacity 0.3s, transform 0s;
  }
  .navToggle {
    margin-left: auto;
  }
  .navClose {
    composes: crossButton from "../parts/typography.css";
    position: absolute;
    top: 34px;
    right: var(--pad-side-mobile);
  }
  .mainNav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    line-height: 1.5;
  }
  .shopNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    border-top: 1px solid var(--border-slate);
    padding-top: 12px;

    & button {
      display: none;
    }
  }
}
@media (--tablet) {
  .header {
    margin-bottom: 80px;
    align-items: flex-end;
  }
  .navHomeLink {
    font-size: 60px;
  }
  .navToggle {
    display: none;
  }
  .cartIconMobile {
    display: none;
  }
  .navWrap {
    margin-left: auto;
    font-size: inherit;
    position: relative;
    margin-bottom: 6px;
  }
  .mainNav {
    & > a,
    & > button {
      &:not(:first-child) {
        position: relative;
        margin-left: 1em;

        &:before {
          content: "/";
          position: absolute;
          top: 0;
          left: -0.7em;
        }
      }
    }
  }
  .mainNav {
    display: flex;
    font-size: 28px;

    & > a {
      &[aria-current="page"] {
        text-decoration: none;
        position: relative;
        outline: none;
        -webkit-tap-highlight-color: transparent;

        &:after {
          content: " ";
          position: absolute;
          top: 0.7em;
          left: -2%;
          width: 104%;
          height: 0.3em;
          background: var(--pink);
          opacity: 0.2;
        }
      }
    }
  }
  .shopNav {
    position: absolute;
    top: 100%;
    right: 0;
    font-size: 18px;
    margin-top: 10px;

    & a {
      position: relative;
      top: -5px;
    }
    & button {
      margin-left: 15px;
    }
  }
  .navClose {
    display: none;
  }
}
