.imageFlowImage {
  margin-bottom: 30px;
}
@media (--tablet) {
  .imageFlow {
    display: flex;
    margin-left: 10%;
  }
  .imageFlowColumn {
    &:first-child {
      width: 30%;
      padding-top: 20%;
    }
    &:last-child {
      width: 60%;
      margin-left: auto;
    }
  }
  .imageFlowImage {
    margin-bottom: 8vw;
  }
}
