.orderHistoryEntry {
  border-top: 1px solid var(--border-slate);
  padding: var(--large-spacing) 0;

  &:first-child {
    border-top: 0;
    padding-top: 0;
  }
}
.orderHeader {
  display: flex;
  margin-bottom: 30px;
  align-items: center;

  & h2 {
    margin-right: 30px;
    margin-bottom: 0;
  }
}
.orderBulletin {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
}
.bulletinInfo {
  width: 33.33333%;
  margin-bottom: 20px;
}
.imageWrap {
  margin-right: 20px;
}
.orderQueryLink {
  composes: button from "./forms.module.css";
  padding: 0.6em 0.8em;
}
.infoHidden {
  visibility: hidden;
}
