.productListItem {
  padding-bottom: 20px;
}
.productListItemContent {
  padding: 10px;
  border: 1px solid var(--orange);
  position: relative;
}
.productInfo {
  padding: 15px 10px 10px;

  & h3 {
    margin-bottom: 0;

    & a {
      text-decoration: none;
    }
  }
}
.productPrice {
  & span {
    font-size: 0.8em;
  }
}
.productLink {
  &:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
@media (--tablet) {
  .productList {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
  }
  .productListItem {
    align-self: stretch;
    width: 25%;
    padding: 0 10px 20px;
    transition: transform 0.2s;

    & > div {
      height: 100%;
    }
    & .productListItemContent {
      display: flex;
      flex-direction: column;
      height: 100%;
      transition: border 0.2s;
    }
    &:hover {
      transform: scale(1.01);

      & .productListItemContent {
        border-color: var(--mid-peach);
      }
    }
  }
  .productImage {
    height: 20.8vw;
    max-height: 300px;
  }
  .productInfo {
    padding-top: 20px;

    & h3 {
      font-size: 22px;
    }
  }
}
@media (--desktop) {
  .productListItemContent {
    padding: 15px;
  }
  .productInfo {
    & h3 {
      font-size: 26px;
    }
  }
}
