.productInfo {
  & h1 {
    margin-bottom: 0;
  }
}
.productPrice {
  font-size: 30px;
  color: var(--pink);
}
.productDescription {
  margin: var(--mid-spacing) 0;
}
.subTotal {
  margin-top: 20px;
  color: var(--pink);
}
.addToCartButton {
  composes: button from "../modules/forms.module.css";
  margin-top: 40px;
}
.productPrevNext {
  display: flex;
  width: 100%;
  margin-top: var(--large-spacing);

  & a {
    &:first-child {
      margin-right: auto;
    }
  }
}
@media (--mobile-only) {
  .productInfo {
    margin-top: var(--mid-spacing);
  }
}
@media (--tablet) {
  .productWrap {
    display: flex;
    align-items: flex-start;
  }
  .productImagesWrap {
    width: 50%;
  }
  .productInfo {
    width: 50%;
    padding-left: 5%;
  }
  .productPrice {
    font-size: 40px;
  }
}
