@import "../parts/custom-media.css";

.productListItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  & a:after {
    display: none;
  }
}
@media (--tablet) {
  .productList {
    display: flex;
    margin-left: -10px;
    margin-right: -10px;
  }
  .productListItem {
    width: 25%;
    padding: 0 10px;
  }
}
