.selectorWrap {
  margin-bottom: 10px;
}
.selectorOptions {
  display: inline-flex;
  border: 1px solid var(--orange);
  border-radius: var(--small-round-corner);
  height: var(--button-height);
  font-size: 16px;
}
.selectorOption {
  border-left: 1px solid var(--mid-peach);
  background: transparent;
  color: var(--dark-slate);
  padding: 0 24px;

  &[data-active="true"] {
    background: var(--mid-peach);
  }
  &:first-child {
    border-left: 0;
  }
}
@media (--tablet) {
  .selectorOption {
    &:hover {
      background: var(--peach);
    }
  }
}
